*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --white: hsl(0, 0%, 100%);
  --medium-grey: hsl(216, 12%, 54%);
  --light-grey: hsl(217, 12%, 63%);
  --orange: hsl(25, 97%, 53%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font: 400 14px / 22px "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--light-grey);
}