*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(216, 12%, 8%);
  --dark-blue: hsl(213, 19%, 18%);
  --white: hsl(0, 0%, 100%);
  --medium-grey: hsl(216, 12%, 54%);
  --light-grey: hsl(217, 12%, 63%);
  --orange: hsl(25, 97%, 53%);
}

/* Typography */

body {
  margin: 0;
  font: 400 14px / 22px "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--light-grey);
}

.title {
  margin: 16px 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.rating-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding-top: 3px;
  background-color: var(--dark-blue);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.175px;
  color: var(--medium-grey);
}

.rating-option:hover {
  cursor: pointer;
  background-color: var(--medium-grey);
  color: #FFF;
}

.rating-option.selected {
  background-color: var(--orange);
  color: var(--white);
}

.btn {
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 24px;
  border: none;
  border-radius: 22.5px;
  background-color: var(--orange);
  font: 700 14px / 18px "Overpass", sans-serif;
  letter-spacing: 1.87px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
}

.footer-text {
  font-size: 12px;
}

.footer-link {
  text-decoration: none;
  color: var(--orange)
}

.footer-link:hover,
.footer-link:focus {
  opacity: 0.5;
}

/* Resuable Styles */
.container {
  width: 87%;
  max-width: 327px;
  margin: 0 auto;
  border-radius: 15px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

/* Specific Styles */
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* General Styles */
.main-rating {
  padding: 24px 24px 32px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 2px;
  background-color: var(--dark-blue);
}

.info {
  margin: 10px 0 0;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  padding: 0;
  list-style-type: none;
}

.main-result {
  padding: 34px 24px 37px;
  text-align: center;
}

.image {
  width: 144px;
}

.main-result .info {
  width: 168px;
  margin: 24px auto 0;
  border-radius: 22.5px;
  padding: 5px 12px 2px;
  color: var(--orange);
  background-color: var(--dark-blue);
}

.main-result .title {
  margin-top: 24px;
}

.description {
  margin: 10px 0 0;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }

  .title {
    margin-top: 30px;
    font-size: 28px;
    line-height: 35px;
  }

  .rating-option {
    width: 51px;
    height: 51px;
    font-size: 16px;
    letter-spacing: 0.2px;
  }

  .btn {
    margin-top: 32px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .container {
    width: 29%;
    max-width: 412px;
  }

  .main-rating {
    padding: 32px;
  }

  .icon-wrapper {
    width: 48px;
    height: 48px;
  }

  .info {
    margin-top: 7px;
  }

  .main-result {
    padding: 45px 36px;
  }

  .image {
    width: 162px;
  }

  .main-result .info {
    width: 193px;
    margin-top: 32px;
    padding: 4px 19px 0px;
  }

  .main-result .title {
    margin-top: 32px;
  }

  .description {
    margin-top: 7px;
  }

  .footer-text {
    font-size: 13px;
  }
}